```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ENV
.ENV.local
.env
.env.local
.env.*
pyproject.toml
poetry.lock
requirements.txt
Pipfile
Pipfile.lock
.tox/
.coverage
htmlcov/
.coverage.*
.nox/
.pytest_cache/
.mypy_cache/
.hypothesis/

# Testing
.tests/
test/
tests/

# Distribution / packaging
.pybuild/
.deps/
.installed.cfg
*.egg-info/
.eggs/
dist/
build/
develop-eggs/
```